.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7F1;
   
}
.card-body{
    text-align: center;

}
#count{
    font-size: 50px;
   font-family: "Dancing script";
   font-weight: bolder;
   background-color: #FFE4C9;
}

#wish{
   font-size: 50px;
   font-family: "Dancing script";
   font-weight: bolder;
   background-color: #40679E;
   border-radius: 50%;
   
   
}
#myimage{
    position: relative;;
    top: 100px;
    left: 400px;
}
.content {
    font-size: 50px ;
    text-align: center;
    background-image: linear-gradient(to right,#FF407D,#FFCAD4,#40679E,#1B3C73);
    padding: 10px;
    font-family: "Dancing script";
    font-weight: bolder;
    
}
